/* Variables */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");
/* Normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #333333; }

img {
  width: 100%; }

p {
  font-weight: bold;
  font-size: 19px; }

.header {
  width: 100%; }
  .header .header__container {
    width: 85%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .header .header__container .header__logo {
      width: 300px; }
      .header .header__container .header__logo .header__logoLink {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center; }
      .header .header__container .header__logo .header__logoLink img {
        width: 80px; }
      .header .header__container .header__logo .header__logoLink h1 {
        width: 200px;
        font-size: 30px;
        color: #333333; }
    .header .header__container .header__navigation {
      width: 600px; }
      .header .header__container .header__navigation .header__boxNav {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 20px; }
      .header .header__container .header__navigation .header__link a {
        padding: 3px;
        transition: all 0.3s; }
      .header .header__container .header__navigation .header__link a:hover {
        color: #F44A25; }
      .header .header__container .header__navigation .active {
        color: #F44A25;
        font-weight: bold; }
    .header .header__container .header__menu {
      width: 300px;
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 20px; }
      .header .header__container .header__menu .header__search i {
        font-size: 18px; }
      .header .header__container .header__menu .header__cart i {
        font-size: 18px; }
      .header .header__container .header__menu .header__signIn {
        padding: 10px 20px;
        background-color: #F44A25;
        border: none;
        border-radius: 20px;
        color: white;
        cursor: pointer;
        font-weight: bold; }

.main {
  margin-top: 10px;
  width: 100%; }
  .main .main__container {
    width: 85%;
    height: 460px;
    margin: 0 auto;
    display: flex;
    justify-content: end; }
    .main .main__container .main__slogan {
      position: absolute;
      left: 120px;
      top: 180px;
      width: 70%;
      height: 250px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    .main .main__container .main__slogan h2 {
      font-size: 75px;
      font-weight: normal; }
    .main .main__container .main__slogan span {
      font-weight: bold;
      color: #F44A25; }
    .main .main__container .main__slogan h3 {
      font-size: 30px;
      font-weight: normal; }
    .main .main__container .main__slogan button {
      width: 150px;
      padding: 10px 20px;
      background-color: #F44A25;
      border: none;
      border-radius: 20px;
      color: white;
      cursor: pointer;
      font-weight: bold; }
    .main .main__container .transparency {
      background: white;
      background: linear-gradient(90deg, white 8%, rgba(0, 212, 255, 0) 100%);
      width: 630px;
      height: 460px;
      position: absolute;
      z-index: 1; }
    .main .main__container .main__image {
      position: relative;
      width: 52%;
      height: 100%; }
    .main .main__container .main__image img {
      width: 100%;
      height: 100%; }

.pizza {
  width: 100%;
  margin: 50px 0px; }
  .pizza .pizza__recipes {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px; }
  .pizza .pizza__container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; }
    .pizza .pizza__container .pizza__card {
      width: 320px;
      height: 500px;
      border: 2px #BDBDBD solid;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px; }
    .pizza .pizza__container .pizza__card img {
      width: 100%;
      height: 230px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 20px 20px 0px 0px; }
    .pizza .pizza__container .pizza__card select {
      width: 85%;
      margin-top: 15px;
      padding: 10px 0px;
      border-radius: 20px;
      border: 1px #777 solid;
      background-color: white; }
    .pizza .pizza__container .pizza__card button {
      width: 200px;
      margin-top: 20px;
      padding: 12px 0px;
      border-radius: 20px;
      border: none;
      background-color: #F44A25;
      color: white;
      font-weight: bold;
      cursor: pointer; }
    .pizza .pizza__container .pizza__cardTitle, .pizza .pizza__container .pizza__price {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      margin-top: 15px; }
    .pizza .pizza__container .pizza__cardDescription {
      color: #777;
      text-align: center;
      margin-top: 14px;
      font-size: 16px; }
    .pizza .pizza__container .pizza__price {
      font-size: 25px;
      margin-top: 15px; }

.hide {
  display: none; }

.goToCart {
  position: sticky;
  bottom: 50px;
  left: 80rem;
  padding: 25px 25px;
  background-color: #F44A25;
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  font-weight: bold; }

.carrito {
  width: 100%;
  margin-top: 60px; }
  .carrito .carrito__container {
    width: 85%;
    margin: 0 auto;
    height: 540px;
    display: flex;
    justify-content: space-evenly; }
    .carrito .carrito__container .carrito__productos {
      width: 42%;
      height: 100%; }
      .carrito .carrito__container .carrito__productos .carrito__productosTitulo {
        width: 100%;
        height: 90px;
        background-color: #F44A25;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px 15px 0 0; }
      .carrito .carrito__container .carrito__productos .carrito__productosTitulo h2 {
        color: white; }
      .carrito .carrito__container .carrito__productos .carrito__bebida {
        width: 100%;
        height: 90px;
        display: flex;
        border: 1px #BDBDBD solid;
        border-top: none; }
        .carrito .carrito__container .carrito__productos .carrito__bebida .carrito__imgBebida {
          width: 20%;
          height: 100%; }
        .carrito .carrito__container .carrito__productos .carrito__bebida .carrito__imgBebida img {
          width: 100%;
          height: 100%; }
        .carrito .carrito__container .carrito__productos .carrito__bebida .carrito__desBebida {
          width: 50%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
        .carrito .carrito__container .carrito__productos .carrito__bebida .carrito__desBebida p {
          font-weight: bold;
          font-size: 20px; }
        .carrito .carrito__container .carrito__productos .carrito__bebida .carrito__bebida-btn {
          width: 30%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
        .carrito .carrito__container .carrito__productos .carrito__bebida .carrito__bebida-btn button {
          padding: 10px;
          background-color: #F44A25;
          border: none;
          border-radius: 15px;
          color: white;
          cursor: pointer;
          font-weight: bold; }
      .carrito .carrito__container .carrito__productos .carrito__delivery {
        width: 100%;
        height: 90px;
        display: flex;
        border: 1px #BDBDBD solid;
        border-top: none;
        border-radius: 0 0 15px 15px; }
        .carrito .carrito__container .carrito__productos .carrito__delivery .carrito__imgdelivery {
          width: 20%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
        .carrito .carrito__container .carrito__productos .carrito__delivery .carrito__imgdelivery img {
          width: 80%;
          height: 80%; }
        .carrito .carrito__container .carrito__productos .carrito__delivery .carrito__desdelivery {
          width: 50%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
        .carrito .carrito__container .carrito__productos .carrito__delivery .carrito__desdelivery p {
          font-weight: bold;
          font-size: 20px; }
        .carrito .carrito__container .carrito__productos .carrito__delivery .carrito__delivery-btn {
          width: 30%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
        .carrito .carrito__container .carrito__productos .carrito__delivery .carrito__delivery-btn button {
          padding: 10px;
          background-color: #F44A25;
          border: none;
          border-radius: 15px;
          color: white;
          cursor: pointer;
          font-weight: bold; }
    .carrito .carrito__container .carrito__listaContainer {
      width: 42%;
      height: 100%; }
    .carrito .carrito__container .carrito__lista {
      width: 100%; }
      .carrito .carrito__container .carrito__lista .carrito__listaTitulo {
        width: 100%;
        height: 90px;
        background-color: #F44A25;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px 15px 0 0; }
      .carrito .carrito__container .carrito__lista .carrito__listaTitulo h2 {
        color: white; }
      .carrito .carrito__container .carrito__lista .carrito__productoSeleccionado {
        width: 100%;
        height: 90px;
        display: flex;
        border: 1px #BDBDBD solid;
        border-top: none; }
        .carrito .carrito__container .carrito__lista .carrito__productoSeleccionado .carrito__nombreProducto {
          width: 75%;
          height: 100%;
          border-right: 1px #BDBDBD solid;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          font-weight: bold;
          font-size: 20px; }
        .carrito .carrito__container .carrito__lista .carrito__productoSeleccionado .carrito__productoPrecio {
          width: 25%;
          height: 100%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          font-weight: bold;
          font-size: 20px; }
      .carrito .carrito__container .carrito__lista .carrito__productoAgg {
        width: 100%;
        height: 90px;
        display: flex;
        border: 1px #BDBDBD solid;
        border-top: none; }
      .carrito .carrito__container .carrito__lista .carrito__nombreProductoAgg {
        width: 75%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px #BDBDBD solid; }
      .carrito .carrito__container .carrito__lista .carrito__PrecioProductoAgg {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
      .carrito .carrito__container .carrito__lista .hidden {
        display: none; }
    .carrito .carrito__container .carrito__listaTotal {
      width: 100%;
      height: 90px;
      display: flex;
      border-radius: 0px 0px 15px 15px; }
      .carrito .carrito__container .carrito__listaTotal .carrito__listaTitulo {
        width: 50%;
        height: 100%;
        border-radius: 0px 0px 0px 15px;
        border-right: 1px #BDBDBD solid;
        border-bottom: 1px #BDBDBD solid;
        border-left: 1px #BDBDBD solid;
        display: flex;
        justify-content: center;
        align-items: center; }
      .carrito .carrito__container .carrito__listaTotal .carrito__total {
        width: 50%;
        height: 100%;
        border-radius: 0px 0px 15px 0px;
        border-right: 1px #BDBDBD solid;
        border-bottom: 1px #BDBDBD solid;
        display: flex;
        justify-content: center;
        align-items: center; }
      .carrito .carrito__container .carrito__listaTotal .carrito__cancelar {
        padding: 10px;
        background-color: #F44A25;
        border: none;
        border-radius: 15px;
        color: white;
        cursor: pointer;
        font-weight: bold; }
      .carrito .carrito__container .carrito__listaTotal .carrito__aceptar {
        padding: 10px;
        background-color: #F44A25;
        border: none;
        border-radius: 15px;
        color: white;
        cursor: pointer;
        font-weight: bold; }

.form__container {
  width: 700px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 20px; }
  .form__container .form__titulo {
    width: 100%;
    height: 100px;
    background-color: #F44A25;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center; }
  .form__container .form__titulo h2 {
    color: white;
    font-size: 23px; }
  .form__container .form__datos {
    width: 100%;
    height: 350px;
    border-left: 1px #BDBDBD solid;
    border-right: 1px #BDBDBD solid;
    border-bottom: 1px #BDBDBD solid;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px 100px 0px 100px; }
  .form__container .form__datos input {
    margin-bottom: 12px; }
  .form__container .form__btnSection {
    width: 100%;
    height: 100px;
    border-left: 1px #BDBDBD solid;
    border-right: 1px #BDBDBD solid;
    border-bottom: 1px #BDBDBD solid;
    border-radius: 0px 0px 15px 15px;
    display: flex; }
    .form__container .form__btnSection .form__cancelar, .form__container .form__btnSection .form__aceptar {
      width: 50%;
      height: 100%;
      border-right: 1px #BDBDBD solid;
      display: flex;
      justify-content: center;
      align-items: center; }
    .form__container .form__btnSection .form__cancelar button, .form__container .form__btnSection .form__aceptar button {
      padding: 15px 30px;
      background-color: #F44A25;
      border: none;
      border-radius: 15px;
      color: white;
      cursor: pointer;
      font-weight: bold; }
    .form__container .form__btnSection .form__aceptar {
      border: none; }
