.maintwo{
    margin-top: 10px;
    width: 100%;

    .main__containertwo{
        width: 85%;
        height: 460px;
        margin: 0 auto;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;

        .main__selections{
            width: 70%;
            height: 60px;
            display: flex;

            .main__selectionValueOne{
                width: 50%;
                border-radius: 15px 0px 0px 0px;
                background-color: $primaryColor;
                text-align: center;
                line-height: 58px;
                color: white;
                font-weight: bold;
                border-right: 1px white solid;
            }

            .main__selectionValueTwo{
                @extend .main__selectionValueOne;
                border-radius: 0px 15px 0px 0px;
                border-right: 0px;
            }
        }
        .main__options{
            @extend .main__selections;

            .main__optionValue{
                @extend .main__selectionValueOne;
                background-color: white;
                border-radius: 0px;
                color: black;
                border: 1px grey solid;
            }
            .main__optionValuetwo{
                @extend .main__optionValue;
                border-left: 0px;
            }
        }
        .main__btn{
            @extend .main__selections;

            .main__btnbox{
                @extend .main__selectionValueOne;
                background-color: white;
                border-radius: 0px 0px 0px 15px;
                border: 1px grey solid;
                border-top: 0px;
            }

            .main__btnboxtwo{
                @extend .main__selectionValueOne;
                background-color: white;
                border-radius: 0px 0px 15px 0px;
                border: 1px grey solid;
                border-top: 0px;
                border-left: 0px;
            }
            
            #btn-cancelar{
                padding: 15px 164px;
                border-radius: 0px 0px 0px 15px;
                border: none;
                background-color: #AE0000;
                color: white;
                font-weight: bold;
                cursor: pointer;
            }
            #btn-aceptar{
                padding: 23px 188px;
                border-radius: 0px 0px 15px 0px;
                border: none;
                background-color: green;
                color: white;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
}